.button {
    background-color: var(--color-bg-primary);
    width: 101px;
    height: 40px;
    color: var(--color-font-primary);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    margin-top: 32px;
}