.search-card {
    background-color: var(--color-bg-secondary);
    height: 270px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
}

.search-title h2 {
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 12px;
}

.search-form {
    margin-bottom: 24px; 
}

.search-form input {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    padding-left: 17px;
    outline: none;
}

.search-form ::placeholder {
    color: var(--color-placeholder);
}