@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-bg-primary: #1890ff;
  --color-bg-secondary: #E6F7FF;
  --color-bg-tertiary: #F5F5F5;
  --color-bg-quaternary: #FFF;

  --color-font-primary: #fff;
  --color-font-secondary: #7e7e7e;
  --color-font-tertiary: #1890FF;
  --color-font-quaternary: #737373;
  --color-font-url: #0029FF;

  --color-placeholder: #BFBFBF;
  --color-border-card-info: #D9D9D9;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.ml40 {
  margin-left: 40px;
}